@keyframes Gradient {
  0%,
  100% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
}
* {
  margin: 0;
  padding: 0;
}

.wrap {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: -1;
}

.index {
  padding-top: 48px;
  
}

.index::before {
  position: fixed ;
  content: '';
  display: flex;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url(https://www.starbucks.com.tw/home/objects/images/241102/bg.jpg) 0% 0%;
  background-size: auto 120%;
  pointer-events: none;
  animation: Gradient 48s linear infinite;
  flex-direction: column; 
  background-size: cover;
}

.banner_top_box {
  display: flex;
  justify-content: center; /* 水平置中 */
  margin-bottom: 80px;
}

.banner_top_box > a {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* 水平置中 */
    height: auto; /* 根據寬度調整高度 */
    width: 95%;
}

.banner_top_box > a > img{
  height: auto; /* 根據寬度調整高度 */
  width: 95%;
  object-fit: contain;
}

.banner_slide_box {
  margin-bottom: 80px;
}

.slickTrack {
  width: 100%;
}