.navbar {
    margin-top: auto;
}
.navbar>a {
	float: left;
	font-size: 16px;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: uppercase;
}

.dropdown {
	float: left;
}

.dropdown-btn {
	font-size: 16px;
	border: none;
	outline: none;
	color: #000;
	padding: 14px 16px;
	background: inherit; /* 繼承背景色 */
    font-weight: 550;  /* 字體粗細 */
}

.dropdown-content {
    display: none; /* 隱藏區塊 */
    background-color: #000; 
    color: #fff;
    position: absolute; /* 與父元素位置脫離關係 */
    left: 0;
    width: 100%;
}

.row {
    margin: 20px 10px 20px 80px;
    display: flex;       /* 設置父元素為 flex 布局 */
    flex-direction: row; /* 設置子元素垂直排列 */
    
}

.column {
    display: flex;       /* 設置父元素為 flex 布局 */
    flex-direction: column; /* 設置子元素垂直排列 */
}

.column>a {
    width: 150px;
    margin-bottom: 6px;
}

.navbar a:hover, .dropdown:hover .dropdown-btn {
    background-color: #000;
    color: #fff;
  }

.dropdown:hover .dropdown-content {
	display: block;
}